* {
   margin: 0;
   padding: 0;
}

body {
   background: #333333;
   color: #DDDDDD;
   font-family: "Helvetica", "Arial", "sans serif"
}

a {
   text-decoration: none;
   font-weight: bold;
   color: #6EBEFF;
}

a:hover {
   text-decoration: underline;
   color: green;
}

li { list-style: none; }

#endpoints {
   width: 960px;
   margin: auto;
}

#endpoints > li {
   margin: 25px 0;
   border-radius: 6px;
   overflow: hidden;
   border: 10px solid black;
}

table {
   border: 1px solid lightgray;
   width: 100%;
   border-collapse: collapse;
}

dd, dt {
   display: inline;
}

dt::after {
   content: ":";
}

caption {
   text-align: left;
   padding: 10px;
   background: black;
}

th, td {
   border: 1px solid black;
   padding: 10px;
   background: black;
}

td {
   font-family: monospace;
}

th {
   vertical-align: top;
   width: 115px;
}

th.section::after, th.property::after {
   content: ":";
}

th.section {
   color: rgb(207, 117, 186);
}

th.property {
   color: #009900;
}

th.property::before {
   content: "";
   display: inline-block;
   width: 40px;
}

td > pre {
   border-radius: 3px;
   overflow: hidden;
}

.query-params li {
   margin: 0;
}

.query-params td, .query-params th {
   padding: 0;
}
